body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, rgb(82, 82, 82), white);
}

.circulo{
    border: 2px solid black;
    width: 35em;
    height: 35em;
    border-radius: 50%;
    position: absolute;
}

.numero{
   font-family: 'Roboto', sans-serif; 
   font-size: 20px;
   font-weight: 900;
   text-align: center;
}

.numero:nth-child(1){
    
}