body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

/*
.grid-container{
    display: grid;
    grid-template-columns: 200px repeat(3, 100px 80px); funcion repeat (cant columnas, medidas de las columnas)
    grid-template-rows: repeat(3, 100px);
}
*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 100px)); /*minmax funcion de (minimo y maximo)*/
    grid-template-rows: repeat(2, minmax(min-content, max-content)); /* min-content se encoje hasta el contenido pudiendo romperlo -- max-content se encoje hasta el contenido sin romperlo*/
    grid-auto-flow: column dense;
    grid-auto-columns: 200px;
}

.grid-items{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: 2em
}