.carcasa{
    width: 290px;
    height: 470px;
    border-radius: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.superior{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.camara{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blanchedalmond;
}

.parlante, .microfono{
    width: 65px;
    height: 10px;
    border-radius: 4px;
    background-color: blanchedalmond;
    padding: center;
}

.pantalla{
    width: 90%;
    height: 390px;
    background-color: blanchedalmond;
    border-radius: 4px;
}

.microfono{
    margin: auto;
}