body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 100px 150px;
    grid-gap: 10px;
}

.grid-items{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2em
}

.grid-items:first-child{
    color: crimson;
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid-items:nth-child(4){
    color: blue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-items:nth-child(7){
    color: green;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.container{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.content{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 3em
}

.content:nth-child(1){
    color: rgb(0, 38, 251);
    grid-row-start: 1;
    grid-row-end: 3;
}

.content:nth-child(2){
    color: rgb(251, 0, 0);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content:nth-child(3){
    color: rgb(192, 251, 0);
    grid-column: 2/4;
    grid-row: 2/3;
}