body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: red;
    height: 16rem;
    width: 20rem;
    border-radius: 50px;
    margin: 50px;

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.triangulo{
    width: 0; 
    height: 0; 
    border-left: 120px solid #ffffff;
    border-top: 56px solid transparent;
    border-bottom: 56px solid transparent;
    position: relative;
}