body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: red;
    height: 16rem;
    width: 25rem;
    border-radius: 60px/100px;
    margin: 50px;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.041);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.triangulo{
    width: 190px; 
    height: 190px; 
    clip-path: polygon(15% 15%, 15% 85%, 100% 50%);
    background-color: white;
}